body {
  font-family: museo;
  font-weight: 300;
  line-height: 1.3em;
  margin: 4em auto;
  max-width: 35em;
}

a {
  color: #1C1C1C;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:visited { border-bottom: 1px solid #CCC; }
a:hover, a:visited:hover { border-bottom: none; }
a.image { border-bottom: 0; }

h1, h2, h3 {
  font-family: junction;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 1em;
}

.clear { clear: both; }



#header {
  margin: 0 1em;
}

#content {
  margin: 0 4em;
}

#footer {
  margin: 1em 4em;
  font-size: 70%;
  text-align: right;
}


/** Posts list page **/
.posts {
  margin: 0 0 2em 0;
  padding: 0;
  list-style: none outside;
  position: relative;
}

.posts li {
  min-height: 1.4em;
  clear: left;
}

.posts .post-date {
/*  font-family: courier;*/
  position: absolute;
  left: 0;
}

.posts .post-name {
  float: left;
  margin-left: 5em;
}


/** Post show page **/
.post-date {
  float: right;
  margin: 0;
}

.post-title {
  clear: right;
}

.last-post {
  float: left;
}

.next-post {
  float: right;
}

code {
  background-color: #F2F2F2;
}

pre {
  overflow: hidden;
  background-color: #F2F2F2;
  padding: 10px;
}

pre code {
  background-color: transparent;
  overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  width: 99%;
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.gist {
  font-size: 12px;
}

.aside {
  font-size: 70%;
}

#content img {
  width: 100%;
}