{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
<main id="content">
  <h2>{{ .Title }}</h2>

  <p>I've spoken at more than 36 events in 14 countries, primarily about Bundler, security, and web development. This list of talks includes links to blog posts, slide decks, and videos wherever possible. If you'd like to invite me to speak at your event, please <a href="mailto:andre+talks@arko.net">contact me directly</a>.</p>

  <dl class="talks">
    {{ range .Site.Data.talks }}
      <details class="talk">
        <summary class="talk-title">{{ .title }}</summary>
        <div class="talk-info group">
          {{ if .description }}
            <p class="talk-description">{{ .description }}</p>
          {{ end }}
          {{ if .post_url }}
            <a class="talk-post" href="{{ .post_url }}">
              Read the entire talk as a blog post &rarr;
            </a>
          {{ end }}
          <ul class="talk-events">
          {{ range .events }}
            <li class="talk-event">
              <span class="talk-event-date">
                {{ .date | time.Format "January 02, 2006"}}
              </span>
              {{ if .url }}
                <a class="talk-event-name" href="{{.url}}">{{ .name }}</a>
              {{ else }}
                <span class="talk-event-name">{{ .name }}</span>
              {{ end }}
              {{ if .slides_url }}
                <a class="talk-event-slides" href="{{.slides_url}}">see slides</a>
              {{ end }}
              {{ if .video_url }}
                <a class="talk-event-video" href="{{.video_url}}">watch video</a>
              {{ end }}
            </li>
          {{ end }}
          </ul>
        </div>
      </details>
    {{ end }}
  </dl>
</main>
{{ end }}
