<link rel="alternate" href="{{ "atom.xml" | absURL }}" type="application/atom+xml" title="{{ $.Site.Title }}">

<link rel="me" href="https://micro.blog/indirect">
<link rel="me" href="https://github.com/indirect">
<link rel="me" href="https://instagram.com/indirect">

<link rel="EditURI" type="application/rsd+xml" href="{{ "rsd.xml" | absURL }}">
<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth">
<link rel="token_endpoint" href="https://micro.blog/indieauth/token">
<link rel="subscribe" href="https://micro.blog/users/follow">
<link rel="webmention" href="https://micro.blog/webmention">
<link rel="micropub" href="https://micro.blog/micropub">
<link rel="microsub" href="https://micro.blog/microsub">

{{ range .Site.Params.plugins_css }}
  <link rel="stylesheet" href="{{ . }}">
{{ end }}

{{ range $filename := .Site.Params.plugins_html }}
  {{ partial $filename $ }}
{{ end }}
