{{ define "main" }}
<main id="content" class="home">
  {{ .Content }}

  <section class="posts">
    {{ range (where .Site.RegularPages "Type" "post").GroupByPublishDate "2006" }}
      {{ partial "post-year" . }}
    {{ end }}
  </section>

  <aside class="notes">
    <ul>
      {{ range where .Site.RegularPages "Type" "note" | first 20 }}
      <li>{{ partial "note" . }}</li>
      {{ end }}
    </ul>
    <div class="note-link">
      <a href='{{ .RelRef (dict "path" "note") }}'>Earlier Notes →</a>
    </div>
  </aside>
</main>
{{ end }}
