{{ define "main" }}
<main id="content" class="home">
  {{ .Content }}

  <section>
  {{ range (where .Site.RegularPages "Type" "post").GroupByPublishDate "2006" }}
    <h2 class="year">{{ .Key }}</h2>
    <ul class="posts">
      {{ range .Pages }}
        <li>
          <span class="post-date">{{ .PublishDate | time.Format "Jan 02" }}</span>
          <span class="post-name"><a href="{{ .RelPermalink }}">{{ .LinkTitle | safeHTML }}</a></span>
        </li>
      {{ end }}
    </ul>
  {{ end }}
  </section>

  <aside class="notes">
    <ul>
      {{ range where .Site.RegularPages "Type" "note" | first 20 }}
      <li>{{ partial "note" . }}</li>
      {{ end }}
    </ul>
    <div class="note-link">
      <a href='{{ .RelRef (dict "path" "note") }}'>Earlier Notes →</a>
    </div>
  </aside>
</main>
{{ end }}
