<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta name="author" content="Andre Arko">
  <link rel="stylesheet" href="/css/syntax.css" type="text/css">
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen">
</head>
<body>
  <div id="header">
    <h1><a href="http://andre.arko.net">Andre.Arko.net</a></h1>
  </div>

  <div id="content">
    {{ content }}
  </div>
  
  <div id="footer">
    everything here written by <a href="http://arko.net">Andre Arko</a>
  </div>
</body>
</html>
