<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title>{{ page.title }}</title>
  <meta name="author" content="Andre Arko">
  <link href="/atom.xml" rel="alternate" title="André Arko" type="application/atom+xml">

  <link rel="stylesheet" href="/css/syntax.css" type="text/css">
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/js/facebox/facebox.css" type="text/css" media="screen">

  <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/facebox/facebox.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox();
      $('#facebox').bind('click', function() {
        jQuery(document).trigger('close.facebox');
      });
    })
  </script>
</head>
<body>
  <div id="header">
    <h1><a href="http://andre.arko.net">André.Arko.net</a></h1>
  </div>

  <div id="content">
    {{ content }}
  </div>

  <div id="footer">
    everything here written by <a rel="author" href="http://arko.net">André Arko</a><br>
    <a href="mailto:andre+blog@arko.net">hire me</a> for Ruby and web development
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-306556-1']);
    _gaq.push(['_setDomainName', '.arko.net']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_setDomainName', 'andre.arko.net']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
    })();

  </script>
  <script type="text/javascript" src="https://use.typekit.com/qhr5xpd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>
